:root {
  --amarilloegg: #ffcb00;
  --amarilloeggtrans: #ffcc006c;
  --amarillofondos: #fadc66;
  --fondos: rgba(255, 255, 255, 0);
}
body {
  background-color: var(--amarilloeggtrans);
  height: 100%;
  background-image: url(/img/background.png);
  background-image: url(/img/background.png),
 linear-gradient(to bottom, --amarilloeggtrans, #ffffffe1);
  margin: 0;
  margin-bottom: 40px;
}
.form{
    background-color: var(--amarillofondos);
    width: 100%;
    margin: auto;
}
.container{
    background-color: var(--amarillofondos);
    margin-top: 10rem;
}
.textarea{
  height: 12em;
}
.box-shadow {
  box-shadow: 22px 24px 43px 31px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 22px 24px 43px 31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 24px 43px 31px rgba(0, 0, 0, 0.75);
}
